
<div class="container-fluid">
    <h1>Movies</h1>

    
     <div class="row">

      <div class="col-4">
         <h4>Filter:</h4> 
         
     <form (ngSubmit)="applyfillter()">
       
      <div>
      <label for="language">Language:</label>&nbsp;
         <select name="language" [(ngModel)]="language">
          <option>Tamil</option>
          <option>Kannada</option>
          <option>English</option>
          <option>Hindi</option>
         </select>
        </div>
<br>

<div>
  <label for="movieType">MovieType:</label>&nbsp;
     <select name="movieType" [(ngModel)]="movieType">
      <option>Action</option>
      <option>Comedy</option>
      <option>Sports</option>
      <option>Drama</option>
      <option>Thriller</option>
      <option>Fantasy</option>
     </select>
    </div>
    <br>

    <div>
      <label for="price">Price Range:</label>&nbsp;
      <input type="number" min="100" name="minprice" id="minprice" [(ngModel)]="minprice" placeholder="Enter min Price">
      <br><br>&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="number" min="700" name="maxprice" id="maxprice" [(ngModel)]="maxprice" placeholder="Enter max Price">
    </div>
    <br>&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="submit" class="btn btn-info">Submit</button>
    &nbsp;&nbsp; <button type="reset" class="btn btn-danger" (click)="reset()">Reset</button>
    </form>    
     </div>
     <div class="col-8">
      <div class="row">

      
     

      @for (movie of movies; track movies) {

     
    <div class="card col-3 movie-card">
      
        <img src="{{movie.imgUrl}}">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
       <i>   <p class="card-text">{{movie.description}} 
<br>
              {{movie.language}}<br>
              {{movie.price | currency:'INR'}}

          </p> </i>
        
        
        
          <a routerLink="{{movie.title}}" class="btn btn-primary">View</a>
        </div>
      </div>
    
    }
  </div>
  </div>
     </div>
</div>


      <!-- <div class="card col-3 movie-card">
        <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@like_202006280402.png,lx-24,ly-617,w-29,l-end:l-text,ie-MTMuN0sgTGlrZXM%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00405427-jtaxncpkny-portrait.jpg" alt="..." height="350px">
        <div class="card-body">
          <h5 class="card-title">Meiyazhagan</h5>
          <p class="card-text">Comedy/Drama</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card col-3 movie-card">
        <img src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/lubber-pandhu-et00409924-1725002124.jpg" alt="..." height="350px">
        <div class="card-body">
          <h5 class="card-title">Rubber Pandhu</h5>
          <p class="card-text">Comedy/Drama/Sports</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card col-3 movie-card">
        <img src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/the-greatest-of-all-time-et00401439-1725014428.jpg" alt="..." height="350px">
        <div class="card-body">
          <h5 class="card-title">The Greatest of All Time</h5>
          <p class="card-text">Action/Drama/Thriller</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card col-3 movie-card">
        <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@like_202006280402.png,lx-24,ly-617,w-29,l-end:l-text,ie-ODA5LjhLIExpa2Vz,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00310216-tluebxpafx-portrait.jpg" alt="..." height="350px">
        <div class="card-body">
          <h5 class="card-title">Devara - Part 1</h5>
          <p class="card-text">Action/Drama/Thriller</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card col-3 movie-card">
        <img src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/hitler-et00413125-1727093184.jpg" alt="..." height="350px">
        <div class="card-body">
          <h5 class="card-title">Hitler</h5>
          <p class="card-text">Action/Drama/Thriller</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card col-3 movie-card">
        <img src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/joker-folie-a-deux-et00352820-1727168074.jpg" alt="..." height="350px">
        <div class="card-body">
          <h5 class="card-title">Joker: Folie a Deux</h5>
          <p class="card-text">Action/Drama/Thriller</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div> -->


      
      
    
 


