/* You can add global styles to this file, and also import other style files */


h1{
    color: rgb(240, 135, 153);
}
.movie-card{
    align-items: center;
    width: 15rem;
    padding: 10px;
    margin: 10px;
    height: 550px;
    color: brown;
}
.container-fluid  img{
    height: 1050px; 
    width: 14rem;
     padding-top: 1px;
    
}
.card-title{
    color: #0ad1ce;
}
.movie-card1{
    height: 640px;
    width: 14rem;
    margin-left: 20px;
    margin-top: 2px;
    padding-top: 5px;
}           