<div class="container py-1">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Book My Show</h1>
        <p class="col-md-8 fs-4">Online movie ticket bookings for the Bollywood, Hollywood, Tamil, Telugu and other regional films showing near you in chennai.</p>
        <button class="btn btn-primary btn-lg" routerLink="movies">View Movies</button>
      </div>
    </div>
  </div>
    <app-movies-list></app-movies-list>

  