    <div class="container-fluid">
        
    <h1>Movies - {{movie?.title}}</h1>
   
    <div class="row">

        @if(movie) {
  
       
      <div class="card col-3 movie-card1">
        
          <img src="{{movie.imgUrl}}">

          <div class="card-body">
       
            <h5 class="card-title">{{movie.title}}</h5>
       
            <span class="badge text-bg-danger">{{movie.description}}</span><br>

            <span class="badge text-bg-secondary">{{movie.language}}</span>&nbsp;
            
            <span class="badge text-bg-success">{{movie.price | currency : 'INR'}}</span><br><br>
                       
                   
            <a routerLink = "{{movie.title}}" class="btn btn-primary">Book Ticket</a><br><br>

            <a routerLink="#" class="btn btn-primary" routerLink="/home">Back home</a>
        </div>
        </div>
    
}   

    </div>
    </div>

