.movie-card{
    align-items: center;
    width: 18rem;
    padding: 10px;
    margin: 10px;
    height: 580px;
}

.container-fluid  img{
    height: 380px; 
    width: 15rem;
     padding-top: 5px;
    
}